ignoring venv files
.venv/
.env

ignoring zone identifiers
*:Zone.Identifier

ignoring package installation temps
*.egg-info/

setup.py

ignoring python caches
__pycache__/
*.py[cod]

ignoring local build
build/

ignoring temporary local storage of file for processing
data/